* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.all-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D5D2D2;
}

.logo {
    width: 150px;
    padding: 12px;
}


/* .menu {} */

.menu ul {
    display: flex;
    align-items: center;

}

.menu ul li {
    list-style: none;
    font-size: 18px;
    padding: 20px;
}

.menu ul li:hover {
    color: red;
    cursor: pointer;
}

/* header end  */
/* banner start  */
.main-banner {
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 100vh;
    background-position: center;
    background-blend-mode: overlay;
}

.digital-color {
    color: red;
}

.main-banner h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 80px;
    color: white;
}

.main-banner p {
    width: 623px;
    margin: auto;
    font-size: 17px;
    margin-top: 30px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.color-btn {

    font-size: 17px;
    padding: 10px 14px;
    border: none;
    background-color: red;
    color: white;
    margin-right: 10px;
}

.no-color-btn {
    font-size: 17px;
    padding: 10px 14px;
    border: none;
    background-color: #F0F0F0;
    color: black;
    margin-right: 10px;
}

.all-btn {
    width: 300px;
    margin: 45px auto;
}

/* banner section end  */
/* services start  */
.bg-image-set {
    width: 100%;
    height: 100vh;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 120px;
}

.all-services-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.services-left {
    padding-top: 100px;
    padding-left: 30px;
    width: 40%;
}

.services-left h1 {
    font-size: 33px;
    color: #D5D2D2;
    margin-bottom: 30px;
}

.services-left p {
    font-size: 17px;
    color: #D5D2D2;
    margin-bottom: 30px;
}

.services-left ol li {
    color: #D5D2D2;
}

.service-btn {

    font-size: 18px;

    background-color: white;

    border: none;

    padding: 10px 14px;

    border-radius: 25px;

    margin-bottom: 27px;
}

.services-right-all {

    width: 60%;
}

.services-card {
    margin-bottom: 10px;
    background-color: white;
}

.services-card img {
    width: 120px;
    padding: 50px;
}

.services-card p {
    font-size: 20px;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.all-box {
    display: flex;
    gap: 15px;
    justify-content:end;
    margin: 0 70px;
}